sphinx==5.0.2
sphinx-book-theme
myst_nb
numpy
h5py
jupyter-book
sphinx_external_toc
sphinxcontrib-mermaid
astroid~=2.15 # https://github.com/readthedocs/sphinx-autoapi/issues/407
sphinx-autoapi
nirtorch